strong {
  color: tomato;
  background-color: gold;
  font-size: 2em;
}
body{
  background-color: cornsilk;
  color: black;
  font-family: Georgia, Serlif;
  font-size: 10vw;
}
p{
  margin-left: 2vw;
}
p strong{
  font-weight: bold;
  font-size: 11vw;
  color: black;
  background-color: cornsilk;
}
ul {
  background-color: aquamarine;
}
em {
  font-style: italic;
  color: gainsboro;
  font-family: sans-serif;
  font-size: 9vw;
}
a {
  font-weight: bold;
  color: blue;
  font-style: italic;
}
a:checked{
  color: chartreuse;
}
img{
  width: auto;
  height: 25vw;
}
