strong {
  color: tomato;
  background-color: gold;
  font-size: 2em;
}
body{
  background-color: cornsilk;
  color: black;
  font-family: Georgia, Serlif;
  font-size: 4vw;
}
p{
  margin-left: 2vw;
}
p strong{
  font-weight: bold;
  font-size: 4.5vw;
  color: black;
  background-color: cornsilk;
}
ul {
  background-color: aquamarine;
}
em {
  font-style: italic;
  color: gainsboro;
  font-family: sans-serif;
  font-size: 3.5vw;
}
a {
  font-weight: bold;
  color: blue;
  font-style: italic;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: fit-content; /* Full width */
    height: fit-content; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
       }

                      /* Modal Content/Box */
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1% solid black;
        width: 80%; /* Could be more or less, depending on screen size */
      }

                                /* The Close Button */
      .close {
        color: green;
        float: right;
        font-size: 28%;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: darkgreen;
        text-decoration: none;
        cursor: pointer;
      }
      .modal img{
      }

a:checked{
  color: chartreuse;
}
img{
  width: auto;
  height: 25vw;
}
